<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleLocalisations</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>OpenCPN</string>
	<key>CFBundleHelpBookFolder</key>
	<string>OpenCPN-Hilfe</string>
	<key>CFBundleHelpBookName</key>
	<string>OpenCPN-Hilfe</string>
	<key>CFBundleIconFile</key>
	<string>opencpn.icns</string>
	<key>CFBundleIdentifier</key>
	<string>de.topperdiek.opencpn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>14.10.9</string>
	<key>CFBundleName</key>
	<string>OpenCPN</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>14.10.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>14.10</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>Xcode</string>
	<key>DTPlatformBuild</key>
	<string>4H1503</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13F34</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0610</string>
	<key>DTXcodeBuild</key>
	<string>6A1030</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>CarCode 2014</string>
	<key>SUFeedURL</key>
	<string>http://topperdiek.de/dl/app/ocpncast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
