<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18F132</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OpenCPN</string>
	<key>CFBundleHelpBookFolder</key>
	<string>OpenCPN-Hilfe</string>
	<key>CFBundleHelpBookName</key>
	<string>OpenCPN-Hilfe</string>
	<key>CFBundleIconFile</key>
	<string>opencpn.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalisations</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>CFBundleLongVersionString</key>
	<string>21.01.01</string>
	<key>CFBundleName</key>
	<string>OpenCPN</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>21.01.01</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>21.01</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>Xcode</string>
	<key>DTPlatformBuild</key>
	<string>18F132</string>
	<key>DTPlatformVersion</key>
	<string>10.14</string>
	<key>DTSDKBuild</key>
	<string>18F132</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1021</string>
	<key>DTXcodeBuild</key>
	<string>10E1001</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventAuthorizationMode</key>
	<string>automatic</string>
	<key>NSAppleEventUsageDescription</key>
	<string>Aufgerufene Dialoge eventuell versteckt!</string>
	<key>NSExceptionDomains</key>
	<dict>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<true/>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>CarCode 2021</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://topperdiek.de/dl/app/ocpncast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
